body{
	background-color: hsl(0, 0%, 98%);
}

.custom-banner {
    background-color: #fc9038;
    color: black; 
    padding: 5px 0; /* Függőleges padding */
    text-align: center; /* Középre igazítás */
  }

.navbar {
    background-color: #6090f7 !important; 
  }

  /* Alapértelmezett háttérszín a dropdown elemekre */

  
  /* A háttérszín módosítása az elem fölé helyezett egér esetén */
  .dropdown-item:hover {
    background-color: #6090f7; 
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Árnyék hozzáadása */
  }
  

.separator {
    height: 3px; /* Csík vastagsága */
    background-color:#fd7e14; /* Csík színe, állítsd be a kívánt színre */
    margin-top: 8px; /* Felső margó */
    margin-bottom: 8px; /* Alsó margó */
  }

.background1 {
    background-color: lightblue;
}
.background2 {
    background-color: lightgreen;
}

.background-index{
    background-color: #f0f3f3 ;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
    font-family: 'Lora', serif; /* Elegáns betűtípus */
}

/* Alap stílusok */
.box-element {
    box-shadow: hsl(0, 0%, 53%) 0 0 16px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    flex-grow: 1;   
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
    min-height: 150px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;    
}

/* Gombok pozicionálása */
.box-element .btn-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.box-element .btn-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}



/* Elválasztó vonal */
.box-element hr {
    border: none;
    height: 1px;
    background-color: #fc9038;
    margin: 5px 0;
}

/* Mobil optimalizálás */
@media (max-width: 768px) {
    .box-element {
        padding: 8px;  /* Csökkentsd a paddingot, hogy több hely maradjon */
        min-height: auto; /* A magasság legyen dinamikus */
    }

    .box-element .btn-top-left {
        top: 8px;  /* Kisebb távolság */
        left: 8px;
    }

    .box-element .btn-bottom-right {
        bottom: 8px;
        right: 8px;
    }

    .box-element p {
        font-size: 14px; /* A szöveg kisebb legyen */        
    }

    .box-element hr {
        margin: 4px 0;  /* Kisebb margó */
    }

    .box-element strong {
        font-size: 14px; /* Kisebb szöveg mobilon */
        margin-right: 4px;
    }
    
}

/* Extra mobil optimalizálás (például 480px alatt) */
@media (max-width: 480px) {
    .box-element {
        padding: 6px;  /* Még kisebb padding */
    }

    .box-element p {
        font-size: 12px; /* Még kisebb szöveg */
        
    }

    .box-element .btn-top-left,
    .box-element .btn-bottom-right {
        font-size: 12px;  /* Kisebb gombok */
        padding: 4px;  /* Kisebb gombok */
    }

    .box-element strong {
        font-size: 12px; /* Kisebb szöveg mobilon */
        margin-right: 4px;
    }
}

/* Filter Card */
.filter-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 450px; /* Kártya egységes magassága */
    padding: 10px;
    margin: 20px 0;
    box-sizing: border-box;    
    border: 1px solid #6090f7;
    border-radius: 8px;
    overflow: hidden;
    position: relative; 
    box-shadow: 10px 0px 10px 2px rgba(0, 0, 0, 0.2);    
    background-color: #add8e6;
    color: white;
}

/* Leírás gomb a kártya tetején */
.filter-card-description-trigger {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6090f7 ;
    padding: 5px 15px;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    z-index: 10;
    text-align: center;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #6090f7;
    
}

.filter-card-description-trigger a {
    color: white;
}

/* A termékleírás alapértelmezés szerint rejtve */
.filter-card-description {
    position: absolute;
    top: -100%; /* Kiindulási helyzet (kártyán kívül) */
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; /* A tartalmat egymás alatt jeleníti meg */
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    z-index: 5;
    opacity: 0; /* Láthatatlan, míg nem történik hover */
    font-family: "Montserrat", sans-serif;
    background: #add8e6; /* Kicsit sötétebb háttér a jobb olvashatóság érdekében */
    border-radius: 8px;
    margin-top: 20px;
}

.filter-card-description h6 {
    font-size: 1.2em;
    font-weight: 300; /* Vékonyabb cím */
    color: #fc9038; /* Aranyszín a címhez */
    margin-bottom: 8px;
}

.filter-card-description h4, h5 {
    font-size: 1em;
    font-weight: 400; /* Vékonyabb szöveg */
    color: #1E1F20;
    margin-bottom: 8px;
}

.filter-card-description p {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 300; /* Még vékonyabb a leíráshoz */
    font-size: 0.9em;
    color: #1E1F20;
    
    padding: 8px 20px;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
}


/* Hover esemény: A leírás becsúszik felülről */
.filter-card-description-trigger:hover + .filter-card-description {
    top: 0;
    opacity: 1; /* Láthatóvá válik */
}

/* Filter Card Image */
.filter-card-img {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center; /* Kép vízszintes középre igazítása */
    align-items: center; /* Kép függőleges középre igazítása */
    overflow: hidden;    
    transition: transform 0.3s ease;
    z-index: 1;
    margin-top: 10px;
}

.filter-card-img img {
    max-width: 100%; /* A kép nem léphet túl a konténer szélességén */
    max-height: 100%; /* A kép nem léphet túl a konténer magasságán */
}


.filter-card-img:hover {
    transform: scale(1.2);
}

/* Thumbnail - a képek méretezése */
.thumbnail {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}




.box-element h4, h6 {    
    font-family: 'Lora', serif; /* Elegáns betűtípus */
    font-size: 2em; /* Nagy betűméret */
    color: #333; /* Sötétszürke szín */
    font-weight: bold; 
}

.card {
    height: 450px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border-radius: 20px;
    
}
.card-hover-trigger:hover + .card-body {
    left: 0; /* Hover esetén a kép fölé csúszik */
}
.card-body {
    position: absolute;
    bottom: 0;
    left: -100%; /* Kezdés a kép bal oldalán kívül */
    width: 100%; /* Csak a kép szélességében */
    height: 100%; /* A kép magasságában marad */
    background: rgba(107, 120, 189, 0.9); 
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: start;
    text-align: center;
    transition: all 0.5s ease;
    padding: 10px;
}

.card-hover-trigger {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6b78bd;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10; /* Fent tartjuk a hover elem */
}

/* .card-body szövegek stílusai */
.card-body h6 {
    font-family: 'Montserrat', sans-serif; /* Modern betűtípus */
    font-size: 1.5em; /* Kicsit nagyobb betűméret */
    color: #ffffff; /* Fehér szín */
    font-weight: 600; /* Közepesen vastag betűk */
    margin-bottom: 10px;
}

.card-body p {
    font-family: 'Lora', serif; /* Elegáns betűtípus */
    font-size: 1em; /* Normál betűméret */
    color: #ffffff; /* Fehér szín */
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-body h4 {
    font-family: 'Lora', serif; /* Elegáns betűtípus */
    font-size: 1.5em; /* Kicsit nagyobb betűméret */
    color: #ffffff; /* Fehér szín */
    font-weight: bold;
    margin-top: 10px;
}



.btn, h4, h6 {
    font-family: 'Montserrat', sans-serif; /* Modern betűtípus */
    font-size: 1em; /* Kicsit nagyobb betűméret */
    color: #333333; /* Sötétszürke szín */
    font-weight: 600; /* Közepesen vastag betűk */
    /*margin-bottom: 10px;  Térköz az alatta lévő elemtől */
}

h4 {
    font-size: 1.25em; /* Állítsd be a méretet */
    font-weight: bold; /* Kiemelés */
}

h6 {
    font-size: 1em; /* Állítsd be a méretet */
    font-weight: normal; /* Normál súly */
}

.card_img {
    width: 100%;
    height: 400px;
    object-fit:contain;
    background-color:#e1e9f5;
}


.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
.truncated:hover {
    white-space: normal;
  }

.index_card{
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    background-color: #add8e6;
    border-radius: 5px;
    transition: transform 0.3s ease; /* Animáció simítása */
    border: 1px solid #6090f7;
  }

.index_card img{
    width: 100%;
    height: 400px;
    display: block;  
    object-fit:contain;
    position: relative;
    
  }

.index_card:hover {
    transform: scale(1.1); /* Kép nagyítása, amikor az egér fölé kerül */
}

.text-overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);    
    background-color: rgba(255, 255, 255, 0.8); /* Fehér háttér 80%-os átlátszósággal */
    padding: 10px 20px;
    border-radius: 15px 15px 15px 15px; /* Csak az alsó sarkok lekerekítése */
    text-align: center;
    font-size: 1em;
    font-weight: 700; /* Vastag betűk */
    color: #333333; /* Szöveg színe */
    width: 90%;
    border: 1px solid #6090f7;
}




.product{
	border-radius: 0 0 4px 4px;
    max-height: 50px;
}

.bg-dark{
	background-color: #080808!important;

}


/* Kosár ikon méretének növelése */
.cart-container {
	position: relative; /* A szülő elemnek kell ezt beállítani */
	display: inline-block;
}

#cart-icon {
    width: 50px; /* Itt állíthatod a méretet, pl. 50px */
    height: auto;
}

/* Kosár értékének pozicionálása az ikonra */
#cart-total {
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: green; /* Zöld háttér a piros helyett */
    color: white;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px; /* A szöveg középre igazítása */
    font-size: 14px;
    font-weight: normal;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12 {
	margin-top: 10px;
    
}



.btn{
	border-radius: 5px;
}

.btn btn-search{
    border-radius: 0 0 8px 8px !important; 
    
}

.btn-delete {
    color: #dc3545;
    display: flex; /* Flexbox használata a középre igazításhoz */
    justify-content: center; /* Vízszintes középre igazítás */
    align-items: center; /* Függőleges középre igazítás */
    padding: 0.5rem 1rem; /* Igazítás mellett kényelmes padding */
}

.btn-delete p {
    margin: 4px; /* A margó eltávolítása a p elemtől, hogy ne legyen extra térköz */
    text-align: center; /* Szöveg középre igazítása */
}

/* Alapértelmezett stílusok - az ikon mindig látható */
.delete-btn .bi-trash {
    font-size: 14px; /* Az ikon mérete */
    color: #dc3545;
}

#delete-text {
    display: inline; /* A szöveg alapértelmezett megjelenítése */
    color: #dc3545;  /* A szöveg színe */
}

/* Mobil nézet (max-width: 767px) */
@media (max-width: 767px) {
    #delete-text {
        display: none; /* A "Törlés" szöveg elrejtése mobil nézetben */
    }

    /* A szürke ikon szín eltüntetése, ha mobilon van */
    .delete-btn .bi-trash {
        color: #dc3545; /* Az ikon színének visszaállítása a mobil nézetre */
        font-size: 12px;;
    }
    .btn-delete {
        color: #dc3545;
        display: flex; /* Flexbox használata a középre igazításhoz */
        justify-content: center; /* Vízszintes középre igazítás */
        align-items: center; /* Függőleges középre igazítás */
        padding: 0.3rem 0.6rem; /* Kisebb padding */
        font-size: 0.9rem; /* Betűméret csökkentése */
        border-width: 1px; /* Vékonyabb keret */
        margin-left: 5px;
    }
}

.btn-delete:hover {
    color: white; /* Az egész gomb színét fehérre állítjuk */
}

.btn-delete:hover .bi-trash {
    color: white; /* Az ikon színét fehérre állítjuk hover esetén */
}

.btn-delete:hover #delete-text {
    color: white; /* A szöveg színét fehérre állítjuk hover esetén */
}


.user-btn{
    color: white !important;  
    border-color: #fc9038;  
    font-weight: 400;
}
.user-btn:hover {
    background-color: #fc9038 ; 
    color: white;
    border-color: #fc9038; 

    
  }

.custom-button {
    border-radius: 0 8px 8px 0; /* Itt állítsd be a kívánt értéket */
  }
  .form-control {
    border-radius: 8px 0 0 8px; /* Bal oldalon lekerekítés */
    width: 100%; /* A beviteli mezők szélességét a szülőhöz igazítja */
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px; /* További margó, hogy a mezők között legyen távolság */
}

/* A form wrapperre alkalmazott stílusok */
#form-wrapper {
    position: relative; 
    padding-bottom: 50px; /* Helyet adunk a gombnak */
    display: flex;
    flex-direction: column; /* Elrendezés függőlegesen */
    justify-content: flex-start; /* Az elemek a tetejükhöz igazítva */
}

/* A gomb pozicionálása */

/* Alapértelmezett nézet */
.cart-row {
    display: flex;
    align-items: center;  /* Az elemek középre igazítása */
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

/* Mobil optimalizálás 768px és kisebb képernyőkhöz */
@media (max-width: 768px) {
    .cart-row {
        padding-bottom: 8px;  /* Kisebb padding mobilon */
        margin-bottom: 8px;  /* Kisebb margin */
        font-size: 14px;  /* Kisebb betűméret mobilon */
    }
}

/* Extra mobil optimalizálás 480px és kisebb képernyőkhöz */
@media (max-width: 480px) {
    .cart-row {
        padding-bottom: 6px;  /* Még kisebb padding a legkisebb képernyőkön */
        margin-bottom: 6px;  /* Még kisebb margin */
        font-size: 12px;  /* Még kisebb betűméret */
    }
}


.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.form-group {
    margin-bottom: 15px;
}



.user {
    display: inline-block;
    padding: 0.375rem 0.95rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529; /* Fekete szöveg */
    background-color: #fff; /* Fehér háttér */
    border: 1px solid #fc9038; /* Sárga keret */
    border-radius: 0px;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	margin: 5px 0px 5px 8px;
    border-radius: 5px;
    margin-right: 5px;
	
}

.order {
    background-color: #add8e6;
    border-radius: 5px;
}

table {
    width: 100%; /* Teljes szélesség */
    border-collapse: collapse; /* Határok összevonása */
    margin-top: 20px; /* Felülről távolság */
   
}

th, td {
    border: 1px solid #ddd; /* Határ a cellák körül */
    padding: 10px; /* Belső térköz */
    text-align: left; /* Balra igazítás */
    width: 100px; 
    height: auto;
}

td img {
    width: 100px; /* Kép szélessége */
    height: auto; /* Automatikus magasság */
    display: block; /* Blokkelemként kezeljük */
    margin: 0 auto; /* Középre igazítás */
    float: left;
}


th {
    background-color: #f2f2f2; /* Háttérszín a fejlécnek */
    font-weight: bold; /* Félkövér szöveg */
}

td.left-align {
    text-align: left; /* Balra igazítás a cellában */
}

.cart-tooltip {
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 500px; /* Adjust the width as needed */
    max-height: 500px; /* Limit the height */
    overflow-y: auto; /* Enable vertical scrolling */
    display: none; /* Hide by default */
}


.row-image {
    width: 50px;
    max-width: 50px;
    height: 50px;
    object-fit: cover;
}

.product-detail {
    padding: 20px;
}

.product-detail h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-detail img {
    margin-bottom: 20px;
    border-radius: 10px;
}

.product-img {
    background-color: #add8e6;
    border-radius: 5px;    
}

.product-img img {
    display: flex;
    align-items: center; /* Vertikális középre igazítás */
    justify-content: center; /* Horizontális középre igazítás */    
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 1px #add8e6;
}

.product-description {
    
    border-radius: 5px #add8e6;
}

.product-description hr {
    border: none;      /* Távolítsd el a `border: none;` sort, ha benne van */
    height: 1px;       /* Állítsd be a kívánt magasságot */
    background-color: black; /* Adj meg egy látható színt */
}

/* Általános stílus mobil eszközökre */
@media (max-width: 768px) {
    .product-description hr {
        margin: 10px 0; /* Függőleges távolságot ad a hr és a szöveg között */
    }

    .product-description .product-name {
        margin-bottom: 10px; /* Távolság a termék neve és a hr között */
    }

    .product-description .product p {
        margin: 5px 0; /* Csökkentett függőleges távolság a szövegek között */
    }
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(173, 216, 230, 0.8);


  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 600px){
    .modal-content {
      width: 100%;
    }
  }

.review {
    border-radius: 5px;
    background-color: #ccc;
    padding-left: 10px;
    margin-right: -20px;
      
}
#review {
    padding-top: 0px;
    
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Csak a product-row elemek között lesz távolság */
}
.product-row .content-box {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
      
}

#content-box {
    border-radius: 5px;
    border: 1px solid #7e7b7b;  
}
 #content-box .btn {
    width: auto;
    max-width: 100px;
 }

.content-box hr {
    border: none;
    height: 1px;
    background-color: #fc9038;
    margin: 5px 0;
}


@media (min-width: 768px) {
    .product-row .content-box {
        flex: 1 1 calc(50% - 20px); /* Két oszlop, a gap érték levonásával */
    }
}

.product-row .separator {
    flex: 1 1 100%;
    text-align: center;
    padding: 10px 0;
    border-top: 2px solid #ddd;
    margin: 20px 0;
}

.footer {
    background-color: #6090f7; /* Kék háttér */
    color: #ffffff; /* Fehér szöveg */
    padding: 40px 0; /* Függőleges tér */
    width: 100%;
}

.footer a {
    color: #ffffff; /* Fehér linkek */
    text-decoration: none; /* Linkek aláhúzás nélkül */
}

.footer a:hover {
    color: #d3d3d3; /* Halványabb szín linkek lebegéskor */
}

.footer h5 {
    margin-bottom: 20px; /* Címek és tartalom közötti távolság */
}

.footer p, .footer ul {
    margin-bottom: 10px; /* P és UL elemek közötti tér */
}

.footer ul {
    padding-left: 0; /* Listaelemek bal oldali margó nélkül */
}

.footer ul li {
    list-style: none; /* Listaelem pontok eltüntetése */
}


.image-text-container{
    display: flex;
    justify-content: space-between; /* Szöveg és kép közötti távolság */
    border: 3px solid #ccc; /* Keret */    
    background-color: #add8e6;
    
}

.text-section {
    flex: 1; /* A szöveg szekciója */    
    padding: 20px;
    text-align: center;
    max-width: 50%;    
}

/* Slideshow container */
.slideshow-container {
    flex: 1;
    max-width: 50%;
    background-color: transparent; /* A háttér színét átlátszóra állítjuk */
    overflow: hidden;
    position: relative; /* Pozíció beállítása a pontokhoz */
  }


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  transform: translateX(-50%);
  
}

.dot.active {
    background-color: #717171; 
}

.dots-container {
    position: absolute;
    bottom: 10px; /* Közvetlenül a kép alá helyezzük */
    left: 50%;
    transform: translateX(-50%); /* Középre igazítás */
    display: flex;
    justify-content: center;
    width: auto; /* Automatikusan a tartalomhoz igazítjuk */
    padding: 0; /* Padding eltávolítása */
    margin: 0; /* Margin eltávolítása */
  }




/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}

@media only screen and (max-width: 768px) {
    .image-text-container {
        flex-direction: column;
    }
    .text-section, .slideshow-container {
        max-width: 100%;
    }
}


.card-img-top {
    object-fit: cover; /* Kép arányának megtartása */
    height: 400px; /* Kép fix magassága */
    width: 100%; /* Kép teljes szélessége */
   
}

.mb-4 {
    margin-bottom: 1.5rem; /* Távolság a kártyák között */
}

.scroll-container {
    overflow: hidden;
}
    
.card-container {
    display: inline-flex;
    white-space: nowrap;
    animation: scroll 35s linear infinite;
    box-sizing: border-box; 
   
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.scroll-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 450px; /* Kártya egységes magassága */
    margin: 0 20px;
    padding: 10px;
    box-sizing: border-box;    
    border: 1px solid #6090f7;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 10px 0px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 0px 10px 2px rgba(0, 0, 0, 0.2);        
    transition: border 0.3s ease; 
    background-color: #add8e6;
    position: relative; 
}

.scroll-card:hover {
    border: 3px solid #6090f7; /* Keret megjelenítése hover állapotban */
}

.card-container:hover {
    animation-play-state: paused;
}

.scroll-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    position: relative;  
    transition: transform 0.3s ease;
    z-index: 1;
    object-fit: cover;
}
.scroll-card img:hover {
    transform: scale(1.2);
}

.product-name {
    white-space: nowrap; /* Szöveg egy sorban tartása */
    overflow: hidden; /* Túlcsorduló szöveg elrejtése */
    text-overflow: ellipsis; /* Három pont a túl hosszú szöveg végén */
}


/* filtered-products.html -- filtered-products.html -- filtered-products.html -- filtered-products.html -- filtered-products.html -- filtered-products.html*/
@media (max-width: 768px) {
    .title-banner {
        height: 230px;
    }
}
.title-banner{
    display: flex;
    justify-content: space-between; /* Szöveg és kép közötti térköz */
    align-items: center; /* Függőleges középre igazítás */
    background-color: #add8e6;
}

.title-text-section{
    flex: 1; /* A szöveg szekciója */    
    padding: 20px;
    text-align: left;
    max-width: 50%;
    font-family: 'Montserrat', sans-serif; /* Vagy 'Montserrat', sans-serif */
    font-size: 2.5em;
    font-weight: 700; 
    color: #333333;
}

.image-section{
    flex: 1;
    max-width: 50%;
    background-color: transparent; /* A háttér színét átlátszóra állítjuk */
    overflow: hidden;
    position: relative; /* Pozíció beállítása a pontokhoz */
    text-align: right;
    
  }
.image-section img{
    
        width: 100%;
        height: 250px;
        object-fit:contain;
        
}

/* filtered-products.html -- filtered-products.html -- filtered-products.html -- filtered-products.html -- filtered-products.html -- filtered-products.html*/
.left-column {
    background-color: #bbb;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    height: auto; /* Dinamikus magasság */
    max-height: 560px;
    min-height: 300px; /* Minimális magasság */
    position: sticky; /* Ragadós pozicionálás */
    top: 30px; /* Rögzítési távolság */
    z-index: 1000; /* Z-index a rétegezéshez */
}


/* Média lekérdezés kisebb képernyőkhöz (pl. mobil) */
@media (max-width: 768px) { /* Példa: 768px a határérték, módosítsd igényeid szerint */
    .left-column {
        position: relative; /* Sticky eltávolítása */
        top: auto; /* Reset a top érték */
        min-height: 200px; /* Kisebb minimális magasság mobilon */
    }    
}



.left-column-category {
    background-color: #bbb;
    padding: 20px;
    margin-top: 30px;
    border-radius: 5px;
    height: auto; /* Dinamikus magasság */
    max-height: 250px;
    position: sticky; /* Ragadós pozicionálás */
    top: 30px; /* Rögzítési távolság */
    z-index: 1000; /* Z-index a rétegezéshez */
}


/* Média lekérdezés kisebb képernyőkhöz (pl. mobil) */
@media (max-width: 768px) { /* Példa: 768px a határérték, módosítsd igényeid szerint */
    .left-column {
        position: relative; /* Sticky eltávolítása */
        top: auto; /* Reset a top érték */
        min-height: 200px; /* Kisebb minimális magasság mobilon */
    }
    .left-column-category {
            position: relative; /* Sticky eltávolítása */
            top: auto; /* Reset a top érték */
            min-height: 200px; /* Kisebb minimális magasság mobilon */
        }
    }




.sidebar-menu {
    display: inline-block; /* Igazítja a méretet a tartalomhoz */
    background-color: #f8f9fa;
    padding: 15px; /* Módosítsd a paddingot, ha szükséges */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px; /* Adjunk egy kis távolságot a menük között */
}

.sidebar-menu h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar-menu hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.custom-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-list li {
    cursor: pointer;
    padding: 5px 10px; /* A padding csökkenthető, ha szükséges */
    transition: color 0.3s, text-decoration 0.3s;
}

.custom-list li:hover {
    color: #3b3939;
    text-decoration: underline;
}

.custom-list li.selected {
    text-decoration: underline;
    text-decoration-color: #fc9038;
}

.custom-list a {
    text-decoration: none; /* Eltávolítja az alapértelmezett aláhúzást */
    color: inherit; /* Örökli a szülő elem színét */
}

.custom-list a:hover {
    color: #3b3939; /* Hover szín */
    text-decoration: underline; /* Hover alatt aláhúzás */
}

.custom-list a.active-link {
    text-decoration: underline; /* Aktív link aláhúzás */
    text-decoration-color: #fc9038;
    color: #3b3939; /* Aktív link szín */
}






    
/* Jobb oldali oszlop: termékek */
.right-column {
    padding-left: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}



.sidebar-menu {
    width: 250px;
    background-color: #c1bcbc;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-menu h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar-menu hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.sidebar-menu button {
    
    text-align: center;
}



.login-container {
    width: 100%;
    max-width: 400px; /* Maximális szélesség */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #add8e6;
}

.info-container {
    width: 100%;
    max-width: 400px; /* Maximális szélesség */
}



.login-container .form-group {
    margin-bottom: 15px; /* Alsó margó */
}

.login-container .form-control {
    width: calc(100% - 40px); /* Szélesség beállítása az ikon figyelembevételével */
    padding: 10px; /* Belső margó */
    border-radius: 4px; /* Lekerekített sarkok */
    border: 1px solid #ccc; /* Szürke keret */
    margin-left: 10px; /* Belső margó balra az ikonhoz képest */
}

.login-container label {
    margin-right: 10px; /* Jobb oldali margó */
}

.login-btn {
    text-align: center;
    font-size: 1em;
    font-weight: 300; 
    text-shadow: 2px  #6090f7;
    background-color: transparent;
    color: #2577fd;
    transition: 0.5s;
    text-transform: uppercase;
    margin: 10px;
}

.register-btn {
    text-align: center;
    font-size: 1em;
    font-weight: 300; 
    text-shadow: 2px  #fc9038;
    background-color: transparent;
    color: #2577fd;
    transition: 0.5s;
    text-transform: uppercase;
    margin: 10px;
    border-color: #fc9038; 
}
.register-btn:hover {
    background-color: #fc9038;
    color: white;
}
.custom-quantity-input {
    height: 38px; /* A gomb magassága */
    padding: 6px 12px; /* A belső távolságok */
    font-size: 16px; /* A betűméret */
    border: 1px solid #6c757b; /* A keret színe */
    border-radius: 4px; /* A sarkok lekerekítése */
    margin-right: 10px; /* Távolság a gombtól */
}

.custom-quantity-input-btn {
    height: 68px; /* A gomb magassága */
    padding: 6px 12px; /* A belső távolságok */
    font-size: 16px; /* A betűméret */
}

.product p {
    font-size: 1rem;
}

.star-rating {
    display: flex;
    direction: row-reverse;
    display: inline-block;
    vertical-align: middle;
}

.star-rating input[type="radio"] {
    display: none; /* Eltünteti a rádiógombokat */
}

.star {
    font-size: 1.5rem;
    cursor: pointer;
    color: #fc9038;
    margin-right: 2px;
}


/* Az ellenőrzött csillagok és azok előtti csillagok színe */
input[type="radio"]:checked ~ label.star,
input[type="radio"]:checked ~ label.star ~ label.star {
    color: #fc9038;
}

/* Egérrel rámutatáskor a csillag és az előtte lévő összes csillag színe */
.star:hover,
.star:hover ~ .star {
    color: #fc9038;
}




#review-form {
    display: flex;
    flex-direction: column; /* Függőleges elrendezés */
    gap: 10px; /* Térköz a mezők között */
}


.product-separator {
    
    height: 30px;
    margin-top: 8px; /* Felső margó */
    margin-bottom: 8px; /* Alsó margó */
  }