body{
	background-color: hsl(0, 0%, 98%);
}


.background1 {
    background-color: lightblue;
}
.background2 {
    background-color: lightgreen;
}

.background-index{
    background-color: #f0f3f3 ;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
    font-family: 'Lora', serif; /* Elegáns betűtípus */
}

.box-element{
	box-shadow:hsl(0, 0%, 53%) 0 0 16px;
	background-color: #fff;
	border-radius: 8px;
	padding: 10px;
    flex-grow: 1;   
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);

}
.box-elemet p {
    color:hsl(0, 0%, 30%);
}

/* Filter Card */
.filter-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 450px; /* Kártya egységes magassága */
    padding: 10px;
    margin: 20px 0; /* Alsó és felső távolság növelése */
    box-sizing: border-box;    
    border: 8px solid #ae9dd8;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 10px 0px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 0px 10px 2px rgba(0, 0, 0, 0.2);    
    position: relative; 
    
}
.filter-card-img {
    width: 100%;
    height: 300px;
    overflow: hidden;    
    transition: transform 0.3s ease;
    z-index: 1;
}

.filter-card-img:hover {
    transform: scale(1.2);
}


/* Thumbnail - a képek méretezése */
.thumbnail {
    width: 100%;
    max-height: 300px; /* Maximum magasság a képre */
    object-fit: contain; /* A kép arányainak megtartása */
    -webkit-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
    box-shadow: -1px -3px 5px -2px rgba(214, 214, 214, 1);
}



.box-element h4, h6 {    
    font-family: 'Lora', serif; /* Elegáns betűtípus */
    font-size: 2em; /* Nagy betűméret */
    color: #333; /* Sötétszürke szín */
    font-weight: bold; 
}

.card {
    height: 450px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border-radius: 20px;
    
}
.card:hover .card-body {
    left: 0; /* Hover esetén a kép fölé csúszik */
}
.card-body {
    position: absolute;
    bottom: 0;
    left: -100%; /* Kezdés a kép bal oldalán kívül */
    width: 100%; /* Csak a kép szélességében */
    height: 100%; /* A kép magasságában marad */
    background: rgba(107, 120, 189, 0.9); /* Átlátszó fekete háttér */
    color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: start;
    text-align: center;
    transition: all 0.5s ease;
    padding: 10px;
}



/* .card-body szövegek stílusai */
.card-body h6 {
    font-family: 'Montserrat', sans-serif; /* Modern betűtípus */
    font-size: 1.5em; /* Kicsit nagyobb betűméret */
    color: #ffffff; /* Fehér szín */
    font-weight: 600; /* Közepesen vastag betűk */
    margin-bottom: 10px;
}

.card-body p {
    font-family: 'Lora', serif; /* Elegáns betűtípus */
    font-size: 1em; /* Normál betűméret */
    color: #ffffff; /* Fehér szín */
    margin-top: 10px;
    margin-bottom: 20px;
}

.card-body h4 {
    font-family: 'Lora', serif; /* Elegáns betűtípus */
    font-size: 1.5em; /* Kicsit nagyobb betűméret */
    color: #ffffff; /* Fehér szín */
    font-weight: bold;
    margin-top: 10px;
}



.btn, h4, h6 {
    font-family: 'Montserrat', sans-serif; /* Modern betűtípus */
    font-size: 1.5em; /* Kicsit nagyobb betűméret */
    color: #333333; /* Sötétszürke szín */
    font-weight: 600; /* Közepesen vastag betűk */
    margin-bottom: 10px; /* Térköz az alatta lévő elemtől */
}

h4 {
    font-size: 1.25em; /* Állítsd be a méretet */
    font-weight: bold; /* Kiemelés */
}

h6 {
    font-size: 1em; /* Állítsd be a méretet */
    font-weight: normal; /* Normál súly */
}

.card_img {
    width: 100%;
    height: 400px;
    object-fit:contain;
    background-color:#e1e9f5;
}


.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .truncated:hover {
    white-space: normal;
  }

  .index_card{
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    background-color: #add8e6;
    border-radius: 20px;
    transition: transform 0.3s ease; /* Animáció simítása */
    border: 3px solid #ae9dd8;
  }

  .index_card img{
    width: 100%;
    height: 400px;
    display: block;  
    object-fit:contain;
    position: relative;
    
  }

  .index_card:hover {
    transform: scale(1.1); /* Kép nagyítása, amikor az egér fölé kerül */
}

.text-overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);    
    background-color: rgba(255, 255, 255, 0.8); /* Fehér háttér 80%-os átlátszósággal */
    padding: 10px 20px;
    border-radius: 15px 15px 15px 15px; /* Csak az alsó sarkok lekerekítése */
    text-align: center;
    font-size: 1em;
    font-weight: 700; /* Vastag betűk */
    color: #333333; /* Szöveg színe */
    width: 90%;
    border: 3px solid #ae9dd8;
}




.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #080808!important;
   

}


/* Kosár ikon méretének növelése */
.cart-container {
	position: relative; /* A szülő elemnek kell ezt beállítani */
	display: inline-block;
}

#cart-icon {
    width: 50px; /* Itt állíthatod a méretet, pl. 50px */
    height: auto;
}

/* Kosár értékének pozicionálása az ikonra */
#cart-total {
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: green; /* Zöld háttér a piros helyett */
    color: white;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px; /* A szöveg középre igazítása */
    font-size: 14px;
    font-weight: normal;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
    
}



.btn{
	border-radius: 0;
}

.row-image{
	max-width: 40px;
  
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.form-group {
    margin-bottom: 15px;
}



.user {
    display: inline-block;
    padding: 0.375rem 0.95rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529; /* Fekete szöveg */
    background-color: #fff; /* Fehér háttér */
    border: 1px solid #ffc107; /* Sárga keret */
    border-radius: 0px;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	/*min-width: 100px;
    max-width: 300px;
	width: 8.3rem;
	height: 2.35rem;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	margin: 5px 0px 5px 5px;
	
}

table {
    width: 100%; /* Teljes szélesség */
    border-collapse: collapse; /* Határok összevonása */
    margin-top: 20px; /* Felülről távolság */
   
}

th, td {
    border: 1px solid #ddd; /* Határ a cellák körül */
    padding: 10px; /* Belső térköz */
    text-align: left; /* Balra igazítás */
    width: 100px; 
    height: auto;
}

td img {
    width: 100px; /* Kép szélessége */
    height: auto; /* Automatikus magasság */
    display: block; /* Blokkelemként kezeljük */
    margin: 0 auto; /* Középre igazítás */
    float: left;
}


th {
    background-color: #f2f2f2; /* Háttérszín a fejlécnek */
    font-weight: bold; /* Félkövér szöveg */
}

td.left-align {
    text-align: left; /* Balra igazítás a cellában */
}

.cart-tooltip {
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 500px; /* Adjust the width as needed */
	height: 500px;

}
/*
.cart-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
*/
.row-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.product-detail {
    padding: 20px;
}

.product-detail h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-detail img {
    margin-bottom: 20px;
    border-radius: 10px;
}

.footer {
    background-color: #007bff; /* Sötétszürke háttér */
    color: #ffffff; /* Fehér szöveg */
    padding: 40px 0; /* Függőleges tér */
    width: 100%;
}

.footer a {
    color: #ffffff; /* Fehér linkek */
    text-decoration: none; /* Linkek aláhúzás nélkül */
}

.footer a:hover {
    color: #d3d3d3; /* Halványabb szín linkek lebegéskor */
}

.footer h5 {
    margin-bottom: 20px; /* Címek és tartalom közötti távolság */
}

.footer p, .footer ul {
    margin-bottom: 10px; /* P és UL elemek közötti tér */
}

.footer ul {
    padding-left: 0; /* Listaelemek bal oldali margó nélkül */
}

.footer ul li {
    list-style: none; /* Listaelem pontok eltüntetése */
}


.image-text-container{
    display: flex;
    justify-content: space-between; /* Szöveg és kép közötti távolság */
    border: 3px solid #ccc; /* Keret */    
    background-color: #add8e6;
    
}

.text-section {
    flex: 1; /* A szöveg szekciója */    
    padding: 20px;
    text-align: center;
    max-width: 50%;    
}

/* Slideshow container */
.slideshow-container {
    flex: 1;
    max-width: 50%;
    background-color: transparent; /* A háttér színét átlátszóra állítjuk */
    overflow: hidden;
    position: relative; /* Pozíció beállítása a pontokhoz */
  }


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  transform: translateX(-50%);
  
}

.dots-container {
    position: absolute;
    bottom: 10px; /* Közvetlenül a kép alá helyezzük */
    left: 50%;
    transform: translateX(-50%); /* Középre igazítás */
    display: flex;
    justify-content: center;
    width: auto; /* Automatikusan a tartalomhoz igazítjuk */
    padding: 0; /* Padding eltávolítása */
    margin: 0; /* Margin eltávolítása */
  }


.active {
  background-color: #717171;
  opacity: 1;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: 0.4} 
  to {opacity: 1}
}

@media only screen and (max-width: 768px) {
    .image-text-container {
        flex-direction: column;
    }
    .text-section, .slideshow-container {
        max-width: 100%;
    }
}


.card-img-top {
    object-fit: cover; /* Kép arányának megtartása */
    height: 400px; /* Kép fix magassága */
    width: 100%; /* Kép teljes szélessége */
   
}

.mb-4 {
    margin-bottom: 1.5rem; /* Távolság a kártyák között */
}


    
.card-container {
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
    animation: scroll 25s linear infinite; /* Lassított animáció */
   
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.scroll-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 450px; /* Kártya egységes magassága */
    margin: 0 20px;
    padding: 10px;
    box-sizing: border-box;    
    border: 1px solid #ae9dd8;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 10px 0px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 0px 10px 2px rgba(0, 0, 0, 0.2);        
    transition: border 0.3s ease; 
}

.scroll-card:hover {
    border: 8px solid #ae9dd8; /* Keret megjelenítése hover állapotban */
}

.card-container:hover {
    animation-play-state: paused;
}

.scroll-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    overflow: hidden;
    position: relative;  
   
}

.product-name {
    white-space: nowrap; /* Szöveg egy sorban tartása */
    overflow: hidden; /* Túlcsorduló szöveg elrejtése */
    text-overflow: ellipsis; /* Három pont a túl hosszú szöveg végén */
}


/* filtered-products.html -- filtered-products.html -- filtered-products.html -- filtered-products.html -- filtered-products.html -- filtered-products.html*/
@media (max-width: 768px) {
    .title-banner {
        height: 230px;
    }
}
.title-banner{
    display: flex;
    justify-content: space-between; /* Szöveg és kép közötti térköz */
    align-items: center; /* Függőleges középre igazítás */
    background-color: #ae9dd8;
}

.title-text-section{
    flex: 1; /* A szöveg szekciója */    
    padding: 20px;
    text-align: left;
    max-width: 50%;
    font-family: 'Montserrat', sans-serif; /* Vagy 'Montserrat', sans-serif */
    font-size: 2.5em;
    font-weight: 700; 
    color: #333333;
}

.image-section{
    flex: 1;
    max-width: 50%;
    background-color: transparent; /* A háttér színét átlátszóra állítjuk */
    overflow: hidden;
    position: relative; /* Pozíció beállítása a pontokhoz */
    text-align: right;
    
  }
.image-section img{
    
        width: 100%;
        height: 250px;
        object-fit:contain;
        
}

/* filtered-products.html -- filtered-products.html -- filtered-products.html -- filtered-products.html -- filtered-products.html -- filtered-products.html*/

