body{
	background-color: hsl(0, 0%, 98%);
}


.background1 {
    background-color: lightblue;
}
.background2 {
    background-color: lightgreen;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
   
}

.thumbnail{                 /*A kép méretezése*/
	width: 100%;
	height: auto;
    object-fit: cover;
   
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}


.card {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border-radius: 20px;
}



.card:hover .card-body {
    left: 0; /* Hover esetén a kép fölé csúszik */
}



.card-body {
    position: absolute;
    top: 0;
    left: -100%; /* Kezdés a kép bal oldalán kívül */
    width: 100%; /* Csak a kép szélességében */
    height: 100%; /* A kép magasságában marad */
    background: rgba(0, 0, 0, 0.7); /* Átlátszó fekete háttér */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.5s ease;
}

.btn, h4, h6 {
    margin: 5px;
    color: #fff; /* Szöveg színének világosra állítása */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Szöveg árnyékolás */
}

h4 {
    font-size: 1.25em; /* Állítsd be a méretet */
    font-weight: bold; /* Kiemelés */
}

h6 {
    font-size: 1em; /* Állítsd be a méretet */
    font-weight: normal; /* Normál súly */
}

.card_img {
    width: 100%;
    height: 400px;
    object-fit:contain;
    background-color:#e1e9f5;
}


.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .truncated:hover {
    white-space: normal;
  }

  .index_card{
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    background-color: lightblue;
    border-radius: 20px;
    transition: transform 0.3s ease; /* Animáció simítása */
  }

  .index_card img{
    width: 100%;
    height: 400px;
    display: block;  
    object-fit:contain;
    position: relative;
    
  }

  .index_card:hover {
    transform: scale(1.1); /* Kép nagyítása, amikor az egér fölé kerül */
}

  .index_card-tetx{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:blue; /* Félátlátszó fekete háttér */
    color: white; /* Szöveg színe */
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 20px; /* Alsó bal sarok lekerekítése */
    border-bottom-right-radius: 20px; /* Alsó jobb sarok lekerekítése */
}




.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #080808!important;
}


/* Kosár ikon méretének növelése */
.cart-container {
	position: relative; /* A szülő elemnek kell ezt beállítani */
	display: inline-block;
}

#cart-icon {
    width: 50px; /* Itt állíthatod a méretet, pl. 50px */
    height: auto;
}

/* Kosár értékének pozicionálása az ikonra */
#cart-total {
    position: absolute;
    top: 5px;
    left: 20px;
    background-color: green; /* Zöld háttér a piros helyett */
    color: white;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px; /* A szöveg középre igazítása */
    font-size: 14px;
    font-weight: normal;
}






.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
    
}



.btn{
	border-radius: 0;
}

.row-image{
	max-width: 40px;
  
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.form-group {
    margin-bottom: 15px;
}



.user {
    display: inline-block;
    padding: 0.375rem 0.95rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529; /* Fekete szöveg */
    background-color: #fff; /* Fehér háttér */
    border: 1px solid #ffc107; /* Sárga keret */
    border-radius: 0px;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
	/*min-width: 100px;
    max-width: 300px;
	width: 8.3rem;
	height: 2.35rem;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	margin: 5px 0px 5px 5px;
	
}

table {
    width: 100%; /* Teljes szélesség */
    border-collapse: collapse; /* Határok összevonása */
    margin-top: 20px; /* Felülről távolság */
   
}

th, td {
    border: 1px solid #ddd; /* Határ a cellák körül */
    padding: 10px; /* Belső térköz */
    text-align: left; /* Balra igazítás */
    width: 100px; 
    height: auto;
}

td img {
    width: 100px; /* Kép szélessége */
    height: auto; /* Automatikus magasság */
    display: block; /* Blokkelemként kezeljük */
    margin: 0 auto; /* Középre igazítás */
    float: left;
}


th {
    background-color: #f2f2f2; /* Háttérszín a fejlécnek */
    font-weight: bold; /* Félkövér szöveg */
}

td.left-align {
    text-align: left; /* Balra igazítás a cellában */
}

.cart-tooltip {
    position: absolute;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 500px; /* Adjust the width as needed */
	height: 500px;

}
/*
.cart-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
*/
.row-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.product-detail {
    padding: 20px;
}

.product-detail h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-detail img {
    margin-bottom: 20px;
    border-radius: 10px;
}

.footer {
    background-color: #007bff; /* Sötétszürke háttér */
    color: #ffffff; /* Fehér szöveg */
    padding: 40px 0; /* Függőleges tér */
    width: 100%;
}

.footer a {
    color: #ffffff; /* Fehér linkek */
    text-decoration: none; /* Linkek aláhúzás nélkül */
}

.footer a:hover {
    color: #d3d3d3; /* Halványabb szín linkek lebegéskor */
}

.footer h5 {
    margin-bottom: 20px; /* Címek és tartalom közötti távolság */
}

.footer p, .footer ul {
    margin-bottom: 10px; /* P és UL elemek közötti tér */
}

.footer ul {
    padding-left: 0; /* Listaelemek bal oldali margó nélkül */
}

.footer ul li {
    list-style: none; /* Listaelem pontok eltüntetése */
}


.image-text-container{
    display: flex;
    justify-content: space-between; /* Szöveg és kép közötti távolság */
    border: 1px solid #ccc; /* Keret */
    padding: 10px;
    border-radius: 20px;
    background-color: #82e0aa;

}

.text-section {
    flex: 1; /* A szöveg szekciója */
    padding-right: 20px; /* Jobb oldali távolság */
    
}



* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  flex: 1;
  max-width: 300px;
  position: relative;
  margin: auto;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

