{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form">
                <!-- Shipping Information -->
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="zipcode" placeholder="Irányítószám...">
                    </div>
                    
                    <div class="form-field">
                        <input required class="form-control" type="text" name="city" placeholder="Város...">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="address" placeholder="Utca...">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="street_number" placeholder="Házszám...">
                    </div>
                   
                    <!-- A country mező eltávolítva -->
                </div>

                <!-- Submit Button -->
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Submit Order">
            </form>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Rendelés összefoglaló</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div style="flex:2"><p>{{item.product.name}}</p></div>
                <div style="flex:1"><p>Ft{{item.product.price}}</p></div>
                <div style="flex:1"><p>x{{item.quantity}}</p></div>
            </div>
            {% endfor %}
            <h5>Items:   {{order.get_cart_items}}</h5>
            <h5>Total:   ${{order.get_cart_total}}</h5>
        </div>
    </div>
</div>

<script type="text/javascript">
    var total = '{{order.get_cart_total}}';
    var csrftoken = '{{ csrf_token }}'; // CSRF token
    var user = '{{ request.user.username }}'; // Jelenlegi felhasználó neve

    // Form submit esemény kezelése
    document.getElementById('form').addEventListener('submit', function(e){
        e.preventDefault();  // Megakadályozzuk az oldal újratöltését
        submitFormData();    // Elküldjük az adatokat
    });

    // Adatok beküldése a Django backendhez
    function submitFormData(){
        var form = document.getElementById('form');

        var shippingInfo = {
            'address': form.address.value,
            'city': form.city.value,
            'street_number': form.street_number.value,
            'zipcode': form.zipcode.value,
        };

        console.log('Shipping Info:', shippingInfo);

        var url = "/process_order/";
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            }, 
            body: JSON.stringify({'shipping': shippingInfo}),
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Success:', data);
            alert('Megrendelés kész!');

            // Kosár kiürítése
            cart = {};
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";

            // Átirányítás a rendelés véglegesítési oldalra
            window.location.href = "{% url 'order_list' %}"; 
        });
    }
</script>
{% endblock content %}
