{% extends 'store/main.html' %}
{% load static %}
{% load markdown_extras %}
{% block content %}

<div class="title-banner">
    <div class="title-text-section">
        {% if filter_option %}
            <h2>{{ display_name }}</h2>
        {% else %}
            <h2>Termékek</h2>
        {% endif %}
        
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
    <div class="image-section">
        <img src="{% static 'images/hamvas.png' %}" style="width:100%">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="left-column-category col-12 col-md-3">
            <div class="sidebar-menu">
                <h3>Termékek rendezése</h3>
                <hr>
                <ul class="custom-list">
                    <li>
                        <a href="?filter={{ filter_option }}&orderby=name&direction=asc"
                           class="{% if orderby == 'name' and direction == 'asc' %}active-link{% endif %}">
                           ABC szerint (A-Z)
                        </a>
                    </li>
                    <li>
                        <a href="?filter={{ filter_option }}&orderby=name&direction=desc"
                           class="{% if orderby == 'name' and direction == 'desc' %}active-link{% endif %}">
                           ABC szerint (Z-A)
                        </a>
                    </li>
                    <li>
                        <a href="?filter={{ filter_option }}&orderby=price&direction=asc"
                           class="{% if orderby == 'price' and direction == 'asc' %}active-link{% endif %}">
                           Ár szerint (növekvő)
                        </a>
                    </li>
                    <li>
                        <a href="?filter={{ filter_option }}&orderby=price&direction=desc"
                           class="{% if orderby == 'price' and direction == 'desc' %}active-link{% endif %}">
                           Ár szerint (csökkenő)
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>

        <div class="right-column col-12 col-md-9">
            <div class="row" id="product-list">
                {% if products %}
                    {% for product in products %}
                        <div class="col-12 col-md-6 col-lg-4 mb-4 product-card" data-name="{{ product.name }}" data-price="{{ product.price }}">
                            <div class="filter-card">
                                <div class="filter-card-img">
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="thumbnail" src="{{ product.imageURL }}" alt="{{ product.name }}">
                                    </a>
                                </div>
                                <div class="filter-card-description-trigger">
                                    <a href="{% url 'product_detail' product.id %}">Leírás</a>
                                </div>
                                <div class="filter-card-description">
                                    <h6><strong>{{ product.name }}</strong></h6>
                                    <p>{{ product.description|markdown|safe }}</p>
                                </div>
                                <div class="box-element">
                                    <h6 class="product-name"><strong>{{ product.name }}</strong></h6>
                                    <hr>
                                    <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">
                                        <i class="fas fa-shopping-cart"></i>
                                    </button>
                                    <h4 style="display: inline-block; float: right;">
                                        <div class="product">
                                            {% if product.discount_percentage > 0 %}
                                                <p>Akciós ár: <strong>{{ product.discounted_price|floatformat:0 }} Ft</strong></p>
                                                <p>Normál ár: <span style="text-decoration: line-through;">{{ product.price|floatformat:0 }} Ft</span></p>
                                            {% else %}
                                                <p>Ár: <strong>{{ product.price|floatformat:0 }} Ft</strong></p>
                                            {% endif %}
                                        </div>
                                    </h4><br>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Nincs találat</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1&filter={{ filter_option }}&orderby={{ orderby }}&direction={{ direction }}">&laquo; Első</a>
            <a href="?page={{ products.previous_page_number }}&filter={{ filter_option }}&orderby={{ orderby }}&direction={{ direction }}">Előző</a>
        {% endif %}
        {% for num in products.paginator.page_range %}
            {% if products.number == num %}
                <span class="current">{{ num }} oldal</span>
            {% else %}
                <a href="?page={{ num }}&filter={{ filter_option }}&orderby={{ orderby }}&direction={{ direction }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}&filter={{ filter_option }}&orderby={{ orderby }}&direction={{ direction }}">Következő</a>
            <a href="?page={{ products.paginator.num_pages }}&filter={{ filter_option }}&orderby={{ orderby }}&direction={{ direction }}">Utolsó &raquo;</a>
        {% endif %}
    </span>
</div>





{% endblock content %}
