{% extends 'store/main.html' %}
{% load static %}
{% load markdown_extras %}
{% block content %}

{% if products %}
<h1>Termékek</h1>

<div class="row">
    {% for product in products %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="filter-card">
            <img class="thumbnail" src="{{ product.imageURL }}" alt="{{ product.name }}">
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Kosárba</button>
                <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-success">Megtekintés</a> <!-- View gomb -->
                <h4 style="display: inline-block; float: right;"><strong>{{ product.price|floatformat:0 }} Ft</strong></h4><br>
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
<p>Nincs találat</p>
{% endif %}

{% endblock content %}
