{% extends "store/main.html" %}
{% load static %}
{% load markdown_extras %}
{% block content %}


<div class="image-text-container">
    <div class="text-section">
        <h2>Szöveg címe</h2>
        <p>Itt van a szöveg, amely a képek mellett helyezkedik el. Ez a szöveg információkat tartalmazhat a képekről.</p>
    </div>

    <div class="slideshow-container">

        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img src="images/pottyos.png" style="width:100%">
          <div class="text">Caption Text</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="static/images/fabol.png" style="width:100%">
          <div class="text">Caption Two</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="images/textil.png" style="width:100%">
          <div class="text">Caption Three</div>
        </div>
        
        </div>
        <br>
        
        <div style="text-align:center">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div>



</div>


<h1>Termék kategóriák</h1>
<div class="row">   
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="index_card">
            <a  href="{% url 'filtered_products' %}?filter=pottos">
            <img src="{% static 'images/pottyos.png' %}">
                <div class="index_card-tetx">                                  
                    <h5>Pöttyös cicák</h5>
                </div>
            </a>
        </div>
    </div>    

    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="index_card">
            <a  href="{% url 'filtered_products' %}?filter=kotott">
            <img src="{% static 'images/kotott.png' %}">
                <div class="index_card-tetx">                                  
                    <h5>Kötött</h5>
                </div>
            </a>
        </div>
    </div> 

    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="index_card">
            <a  href="{% url 'filtered_products' %}?filter=textil">
            <img src="{% static 'images/textil.png' %}">
                <div class="index_card-tetx">                                  
                    <h5>Textil</h5>
                </div>
            </a>
        </div>
    </div> 

    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="index_card">
            <a  href="{% url 'filtered_products' %}?filter=FÁB">
            <img src="{% static 'images/fabol.png' %}">
                <div class="index_card-tetx">                                  
                    <h5>Fából</h5>
                </div>
            </a>
        </div>
    </div> 
</div>    

<script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
    

</script>
{% endblock content %}
