{%extends 'store/main.html'%}
{%load static%}
{% load markdown_extras %}
{%block content%}

<div class="title-banner">
    <div class="title-text-section">
        <h2>Bejelentkezés</h2>          
    </div>
    <div class="image-section">
        <img src="{% static 'images/hamvas.png' %}" style="width:100%">
    </div>
</div>

<!-- templates/store/login.html -->
<div class="container mt-5">
    <div class="row">
        <!-- Login Form Container -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="login-container p-4">
                <h3>Örülünk, hogy újra itt vagy!</h3>
                <p>Kérjük jelentkezz be</p>
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="d-flex align-items-center mb-3">
                            <label for="username"><i class="bi bi-person"></i></label>
                            <input type="text" class="form-control ml-2" id="username" name="username" required placeholder="Felhasználónév...">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="d-flex align-items-center mb-3">
                            <label for="password"><i class="bi bi-lock"></i></label>
                            <input type="password" class="form-control ml-2" id="password" name="password" required placeholder="Jelszó...">
                        </div>
                    </div>
                    <div class="login-btn">
                        <button type="submit" class="btn btn-outline-primary login-btn">Bejelentkezés</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Additional Content Container -->
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="info-container p-4 text-center">
                <h3>Üdvözlünk az oldalunkon!</h3>
                <p>Csatlakozz hozzánk és élvezd az exkluzív tartalmakat és ajánlatokat!</p>
                <div class="login-btn">
                    <a href="{% url 'register' %}" class="btn btn-outline-primary login-btn">Regisztráció</a>
                </div>
            </div>
        </div>
    </div>
</div>




{%endblock content%}