<!DOCTYPE html>
{% load static %}

<html lang="hu">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Saka-Fa Bt Webshopja</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Saka-Fa Bt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'store' %}">Főoldal <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'order_list' %}">Rendeléseim</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Kategóriák
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'filtered_products' %}?filter=FÁB">Fából készült</a>
                  <a class="dropdown-item" href="{% url 'filtered_products' %}?filter=kotott">Kötött-horgolt</a>
                  <a class="dropdown-item" href="{% url 'filtered_products' %}?filter=pottos">Pöttyös cicák</a>
                  <a class="dropdown-item" href="{% url 'filtered_products' %}?filter=textil">Textil</a>	          
              </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Fogyatékos</a>
            </li>
        </ul>

        <form class="d-flex align-items-center my-2 my-lg-0" method="GET" action="{% url 'search' %}">
            <input class="form-control mr-2" type="search" name="q" placeholder="Keresés" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search" ></i></button>
        </form>

        <div class="form-inline my-2 my-lg-0">
            <div class="user-status" style="display: flex; align-items: center;">
                {% if user.is_authenticated %}
                    <form id="logout-form" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class="btn btn-warning">Kijelentkezés</button>
                    </form>
                    <p class="user">{{ user.username }}</p>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-warning">Bejelentkezés</a>
                {% endif %}
            </div>
            {% if user.is_authenticated %}
            <div class="cart-container">
                <a href="{% url 'cart' %}" id="cart-icon-link">
                    <img id="cart-icon" src="{% static 'images/cart.png' %}">
                    <span id="cart-total">{{ cartItems }}</span>
                </a>
                <div class="cart-tooltip" id="cart-tooltip" style="display: none;">
                    {% if items %}
                        {% for item in items %}
                            <div class="cart-row">
                                <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
                                <div style="flex:2"><p>{{ item.product.name }}</p></div>
                                <div style="flex:1"><p>{{ item.product.price|floatformat:0}}Ft</p></div>
                                
                                <div style="flex:1"><p>x{{ item.quantity }}</p></div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>A kosár üres.</p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container">
    <br>
    {% block content %}
    {% endblock content %}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<script type="text/javascript">
	// Itt adjuk át a Django felhasználói információkat a JavaScript-nek
	var user = '{% if request.user.is_authenticated %}{{ request.user.username }}{% else %}AnonymousUser{% endif %}';
	var csrftoken = '{{ csrf_token }}';
	console.log('USER:', user);  // Ellenőrizd, hogy megfelelően átmegy-e a user változó
</script>

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        var cartIconLink = document.getElementById('cart-icon-link');
        var cartTooltip = document.getElementById('cart-tooltip');

        if (cartIconLink && cartTooltip) {
            cartIconLink.addEventListener('mouseover', function() {
                cartTooltip.style.display = 'block';
            });

            cartIconLink.addEventListener('mouseout', function() {
                cartTooltip.style.display = 'none';
            });
        }
    });
</script>
<!-- Footer -->
<footer class="footer  text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <!-- Céginformációk -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5>Rólunk</h5>
                <p>Cégünk minőségi kézműves termékek forgalmazásával foglalkozik, vevőközpontú kiszolgálással.</p>
            </div>
            <!-- Hasznos linkek -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5>Hasznos linkek</h5>
                <ul class="list-unstyled">
                    
                </ul>
            </div>
            <!-- Kapcsolat -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5>Kapcsolat</h5>
                <p>Email: info@Saka-Fa.hu</p>
                <p>Telefon: +36 90 234 5678</p>
                <p>Cím: 4030 Debrecen, Fő utca 1.</p>
            </div>
        </div>
        <div class="text-center mt-4">
            <p>&copy; 2024 Saka-Fa Bt. Minden jog fenntartva.</p>
        </div>
    </div>
</footer>


</body>
</html>
