{% extends "store/main.html" %}
{% load static %}
{% load markdown_extras %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ product.imageURL }}" alt="{{ product.name }}" class="thumbnail">
        </div>
        <div class="col-md-8">
            <h4>Ár: {{ product.price|floatformat:0}} Ft</h4>
        <div>
            <strong>{{ product.description|markdown|safe }}</strong>
        </div>
        </div>
    </div>
        <div style="margin-top: 20px;">
            <a href="{% url 'store' %}" class="btn btn-outline-secondary">Vissza az üzletbe</a>
            <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Kosárba</button>
        </div>
</div>


{% endblock content %}


