{% extends "store/main.html" %}
{% load static %}
{% load markdown_extras %}
{% block content %}

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="product-detail">
            <h1>{{ product.name }}</h1>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ product.imageURL }}" alt="{{ product.name }}" class="thumbnail">
                </div>
                <div class="col-md-6">
                    <h4>Ár: {{ product.price }}Ft</h4>
                    <div>
                        <strong>{{ product.description|markdown|safe }}</strong>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <a href="{% url 'store' %}" class="btn btn-outline-secondary">Vissza az üzletbe</a>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Kosárba</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


