{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="title-banner">
    <div class="title-text-section">
        <h2>Regisztráció</h2>          
    </div>
    <div class="image-section">
        <img src="{% static 'images/hamvas.png' %}" style="width:100%">
    </div>
</div>

<div class="container mt-5">
    <h2>Regisztráció</h2>
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            <div class="d-flex align-items-center mb-3">
                <label for="username"><i class="bi bi-person" class="mr-2"></i></label>
                <input type="text" class="form-control ml-2" id="username" name="username" required placeholder="Felhasználónév...">
            </div>
            {% for error in form.username.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <div class="d-flex align-items-center mb-3">
                <label for="first_name"><i class="bi bi-person" class="mr-2"></i></label>
                <input type="text" class="form-control ml-2" id="first_name" name="first_name" required placeholder="Vezetéknév...">
            </div>
            {% for error in form.first_name.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <div class="d-flex align-items-center mb-3">
                <label for="last_name"><i class="bi bi-person" class="mr-2"></i></label>
                <input type="text" class="form-control ml-2" id="last_name" name="last_name" required  placeholder="Keresztnév...">
            </div>
            {% for error in form.last_name.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">            
            <div class="d-flex align-items-center mb-3">                
                <label for="email"><i class="bi bi-envelope"></i></label>            
                <input type="email" class="form-control ml-2" id="email" name="email" required placeholder="Email cím...">
            </div>
            {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <div class="d-flex align-items-center mb-3"> 
            <label for="password1"><i class="bi bi-lock"></i></label>
            <input type="password" class="form-control ml-2" id="password1" name="password1" required placeholder="Jelszó...">
            </div>
            {% for error in form.password1.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="form-group">
            <div class="d-flex align-items-center mb-3">
            <label for="password2"><i class="bi bi-lock"></i></label>
            <input type="password" class="form-control ml-2" id="password2" name="password2" required placeholder="Jelszó megerősítése...">
            </div>
            {% for error in form.password2.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-success">Regisztráció</button>
        <a href="{% url 'login' %}" class="btn btn-primary">Vissza a bejelentkezéshez</a>
    </form>
        
     
</div>

    
    

</div>
{% endblock %}







