{% extends "store/main.html" %}
{% load static %}
{% load markdown_extras %}
{% block content %}


<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4 mb-4"> <!-- mb-4 added for margin-bottom -->
            <div class="card">
                <img class="card-img-top" src="{{ product.imageURL }}" alt="{{ product.name }}">
                <div class="card-body">
                    <h6 class="truncated"><strong>{{ product.name|markdown|safe }}</strong></h6>
                    <p><strong>{{ product.description|markdown|safe }}</strong></p>
                    <h4><strong>{{ product.price|floatformat:0 }} Ft</strong></h4>
                    <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Kosárba</button>
                    <a class="btn btn-outline-success" href="{% url 'product_detail' product.id %}">Megtekintés</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
